{% extends 'base.html' %}
{% block content %}
  <div class="streams-margin">
    <section class="about">
      <h1 class="about__title">О нас</h1>
      <div class="about__text">
        Телеканал «Матч ТВ» — российский федеральный общедоступный канал о спорте и здоровом образе жизни. В эфире —
        трансляции главных спортивных событий, включая Олимпийские Игры и чемпионаты мира, новости, аналитические и
        развлекательные программы, реалити- и ток-шоу, документальные циклы, шоу о здоровом образе жизни и
        художественные фильмы о спорте. Телеканал вещает в режиме 24/7, входит в перечень общероссийских обязательных
        общедоступных телеканалов(пакет каналов РТРС-1) и является обязательным для распространения на всей территории
        Российской Федерации. Федеральный спортивный телеканал «Матч ТВ» — это флагманский продукт, который представляет
        спортивный медиабизнес «Газпром-медиа».
        Одним из главных достижений «Матч ТВ» за время его существования стало то, что он по-настоящему сумел возродить
        интерес к спорту в стране, объединил самые отдаленные уголки страны в едином желании поддержать атлетов, сделав
        спорт гораздо ближе к людям, а людей активными участниками спортивных мероприятий. Телеканал предлагает
        эксклюзивный контент для разных аудиторий и возрастных групп. Наши ценности — семья, здоровый образ жизни и
        спорт, образование и карьера, патриотизм и активная жизненная позиция.
        «Матч ТВ» планомерно увеличивает объем спортивных трансляций. В 2018 году доля показа соревнований по 68
        различным видам спорта выросла до 61% от общего времени эфирного вещания. С каждым годом растет аудитория. В том
        же 2018 году она достигла 62.5 миллионов человек, а ежедневно эфир федерального спортивного телеканала смотрят в
        среднем 7.7 миллионов зрителей. Это еще раз говорит о том, что спорт завоевывает все большую популярность и
        становится неотъемлемой частью жизни людей.
        На «Матч ТВ» объединились лучшие спортивные комментаторы страны, в числе которых Дмитрий Губерниев, Георгий
        Черданцев, Константин Генич, Денис Казанский, Александр Шмурнов, Роман Трушечкин, Роман Нагучев, Михаил Поленов,
        Нобель Арустамян, Роман Скворцов, Владимир Гомельский, Алексей Попов, Борис Скрипко, Ольга Богословская, и
        другие. Ведущие «Матч ТВ» -Мария Орзул, Софья Тартакова, Ольга Васюкова, Наталья Кларк, Юлия Маслаченко, Дмитрий
        Шнякин, Илья Трифанов, Михаил Моссаковский, Андрей Романов, Тимур Журавель, Алексей Ягудин, Максим Траньков… В
        качестве экспертов регулярно выступают легенды отечественного спорта, такие как Александр Мостовой Андрей
        Аршавин, Александр Кержаков, Андрей Тихонов, Владимир Быстров, Андрей Талалаев, Александр Гуськов, Александр
        Хаванов, Сергей Тараканов, Сергей Тетюхин, Николай Валуев, Денис Панкратов и др.
      </div>
    </section>
    <div class="px2"></div>
    </div>
{% endblock content %}
