{% extends 'base.html' %}
{% block content %}
    <div class="streams-margin">
      <section class="contacts">
        <h1 class="contacts__title">Контакты</h1>
        <div class="contacts__text">
          <b><p>Как с нами связаться:</p></b>
          <p>Отправить пресс-релиз или официальное сообщение: <b>info@matchtv.ru</b></p>
          <p>Обратиться в службу поддержки/сообщить о проблеме в работе сайта: <b>support@matchtv.ru</b></p>
          <p>Задать вопрос/оставить комментарий по правам и лицензиям: <b>mediarights@matchtv.ru</b></p>
          <p>Связаться с редакцией сайта: <b>matchtv@matchtv.ru</b></p>
          <p>Вопрос по мобильному приложению МАТЧ! КЛУБ: <b>club@matchtv.ru</b></p>
          <p>Контакты для прессы: <b>pressa@matchtv.ru</b></p>
        </div>
      </section>
      <div class="px2"></div>
    </div>
{% endblock content %}
