<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style.css">
  <link rel="stylesheet" href="./adaptive.css">
  <title>Спортивные трансляции</title>
</head>

<body class="page">
  <header class="header">
    <a href="./index.html" class="header__logo">
      <img src="./images/LOGO.png" alt="Logo">
    </a>

    <hav class="header__navigation">
      <a href="./news.html" class="header__navigation-element">Новости</a>
      <a href="./translationslist.html" class="header__navigation-element">Трансляции</a>
      <a href="./subscription.html" class="header__navigation-element">Подписки</a>
      <a href="./contacts.html" class="header__navigation-element">Контакты</a>
      <a href="./aboutus.html" class="header__navigation-element">О нас</a>
    </hav>

    <div class="hamburger-menu">
      <input id="menu__toggle" type="checkbox" />
      <label class="menu__btn" for="menu__toggle">
        <span></span>
      </label>

      <ul class="menu__box">
        <li><a class="menu__item" href="./news.html">Новости</a></li>
        <li><a class="menu__item" href="./translationslist.html">Трансляции</a></li>
        <li><a class="menu__item" href="./subscription.html">Подписки</a></li>
        <li><a class="menu__item" href="./contacts.html">Контакты</a></li>
        <li><a class="menu__item" href="./aboutus.html">О нас</a></li>
      </ul>
    </div>

    <div class="ether">
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#616161" class="bi bi-broadcast-pin" viewBox="0 0 16 16">
        <path d="M3.05 3.05a7 7 0 0 0 0 9.9.5.5 0 0 1-.707.707 8 8 0 0 1 0-11.314.5.5 0 0 1 .707.707zm2.122 2.122a4 4 0 0 0 0 5.656.5.5 0 1 1-.708.708 5 5 0 0 1 0-7.072.5.5 0 0 1 .708.708zm5.656-.708a.5.5 0 0 1 .708 0 5 5 0 0 1 0 7.072.5.5 0 1 1-.708-.708 4 4 0 0 0 0-5.656.5.5 0 0 1 0-.708zm2.122-2.12a.5.5 0 0 1 .707 0 8 8 0 0 1 0 11.313.5.5 0 0 1-.707-.707 7 7 0 0 0 0-9.9.5.5 0 0 1 0-.707zM6 8a2 2 0 1 1 2.5 1.937V15.5a.5.5 0 0 1-1 0V9.937A2 2 0 0 1 6 8z"/>
      </svg>
    </div>

    <div class="header__right-items">
      <a href="./settings.html"><img src="./images/user_icon.svg" alt="Иконка" class="header__user-icon"></a>
      <button class="header__register-button">Регистрация</button>
      <div class="header__search-n-mg-glass">
        <form action="" class="searching-form">
          <input type="text" class="header__search" minlength="1" maxlength="56" required>
          <button class="btn-no-style searching-button"><img src="./images/magnifying_glass.svg" alt="Лупа" class="header__mag-glass"></button>
        </form>
      </div>
  </header>

  <main class="main">
    <div class="streams-margin">
      <section class="post">
        <h1 class="post__title">
          «ФИГУРНОЕ КАТАНИЕ — СЛОЖНЫЙ КОРАБЛЬ, ГОРШКОВ УМЕЛО И ПРАВИЛЬНО ВЕЛ ЕГО К УСПЕХАМ» — ЛАЙШЕВ
        </h1>
        <img src="./images/image 10layshev.png" alt="#" class="post__img">
        <div class="post__info">
          <p class="post__img-source">Фото: © РИА Новости / Алексей Никольский</p>
          <div>
            <button class="post__like btn-no-style post__btns">
              <img src="./images/Mask grouplike1.svg" alt="#">
            </button>
            <button class="post__dislike btn-no-style post__btns">
              <img src="./images/Mask grouplike2.svg" alt="#">
            </button>
          </div>
        </div>
        <p class="post__text">Фигурное катание можно сравнить с очень сложным кораблем, а президент Федерации фигурного катания на коньках России Александр Горшков всегда умело и правильно вел его к успехам, сказал «Матч ТВ» президент центра спорта и образования «Самбо‑70» Ренат Лайшев.
          Горшков скончался на 77‑м году жизни, об этом стало известно в четверг.
          — Выражаю искренние соболезнования родным и близким Александра Георгиевича, всему фигурному катанию. Горшков — великий спортсмен, великий человек. Все мы знаем их трагическую историю с Пахомовой. На протяжении всех плотных взаимоотношений с Горшковым, а это порядка 13 лет, я знал его как интеллигентного, умного, мудрого, вежливого человека. Он всегда знал, что делать, умел благодарить. В общении с ним никогда не было раздражения с его стороны, ни повышенного голоса.
          Фигурное катание — это очень сложный корабль. И Александр Георгиевич всегда вел его умело, правильно. При его руководстве российское фигурное катание было на высочайшем уровне. Надо уметь не дать развалить такое большое дело. Я хорошо знаю и Писеева. Федерация фигурного катания после смены главы продолжала жить и работать вместе с Писеевым, это тоже о многом говорит. Не каждая федерация на это способна — чтобы с уважением учитывать заслуги предыдущего президента.
          С Горшковым всегда было приятно работать. Он всегда с благодарностью относился к работе нашей школы «Самбо‑70». Это были дружеские отношения, — сказал Лайшев «Матч ТВ».
          Горшков выиграл олимпийское золото в танцах на льду в паре с Людмилой Пахомовой, он шесть раз побеждал на чемпионатах мира и Европы. Горшков возглавлял ФФККР с 2010 года и трижды переизбирался на пост, в последний раз — в мае 2022 года. С 2001 года Горшков был членом исполкома Олимпийского комитета России (ОКР), а также в период с 1998 по 2010 занимал должность председателя технического комитета по танцам на льду Международного союза конькобежцев.
        </p>
        <form action="" class="post__comment">
          <textarea name="comment" id="comment" cols="30" rows="10" class="post__textarea"
            placeholder="Оставьте свой комментарий..."></textarea>
          <button class="post__comment-btn btn-no-style">Отправить</button>
        </form>
      </section>
      <div class="px2"></div>
    </div>

    <section class="translations-container">
      <div class="translations">
        <h2 class="translations__title">Трансляции</h2>
        <form class="translations__date-choose" method="post" action="">
          <button
            class="translations__date-choose-btn_type_yesterday btn-no-style translations__date-choose-font-style">Вчера</button>
          <button
            class="translations__date-choose-btn_type_today btn-no-style translations__date-choose-font-style translations__date-choose_active">Сегодня</button>
          <button
            class="translations__date-choose-btn_type_tomorrow btn-no-style translations__date-choose-font-style">Завтра</button>
            <input type="date" name="calendar"
            class="translations__date-choose-btn_type_calendar btn-no-style translations__date-choose-font-style">
        </form>
        <form class="translations__sport-choose" method="post" action="">
          <button class="translations__sport-chose-btn_type_all btn-no-style translations__sport-choose-btn-font-style">
            Все</button>
          <button
            class="translations__sport-chose-btn_type_football btn-no-style translations__sport-choose-btn-font-style translations__sport-choose_active">Футбол</button>
          <button
            class="translations__sport-chose-btn_type_hockey btn-no-style translations__sport-choose-btn-font-style">Хоккей</button>
        </form>
        <div class="matches">
          <h2 class="matches__title">Товарищеские матчи 2020-2022</h2>
          <a href="./translationcard.html" class="non-decor link-trans"><article class="match">
            <div class="match__indicator match__indicator_color_red"></div>
            <p class="match__time">23:00</p>
            <p class="match__team1 teams-font-style">Буркина-Фасо</p><img src="./images/team1-flag.svg"
              alt="Флаг команды" class="match__team1-flag">
            <p class="match__dash teams-font-style"> - </p>
            <img src="./images/team2-flag.svg" alt="Флаг команды" class="match__team2-flag">
            <p class="match__team2 teams-font-style">Сенегал</p>
          </article></a>
          <a href="./translationcard.html" class="non-decor link-trans"><article class="match">
            <div class="match__indicator match__indicator_color_red"></div>
            <p class="match__time">23:00</p>
            <p class="match__team1 teams-font-style">Буркина-Фасо</p><img src="./images/team1-flag.svg"
              alt="Флаг команды" class="match__team1-flag">
            <p class="match__dash teams-font-style"> - </p>
            <img src="./images/team2-flag.svg" alt="Флаг команды" class="match__team2-flag">
            <p class="match__team2 teams-font-style">Сенегал</p>
          </article></a>
          <a href="./translationcard.html" class="non-decor link-trans"><article class="match">
            <div class="match__indicator"></div>
            <p class="match__time">23:00</p>
            <p class="match__team1 teams-font-style">Буркина-Фасо</p><img src="./images/team1-flag.svg"
              alt="Флаг команды" class="match__team1-flag">
            <p class="match__dash teams-font-style"> - </p>
            <img src="./images/team2-flag.svg" alt="Флаг команды" class="match__team2-flag">
            <p class="match__team2 teams-font-style">Сенегал</p>
          </article></a>
          <a href="./translationcard.html" class="non-decor link-trans"><article class="match">
            <div class="match__indicator"></div>
            <p class="match__time">23:00</p>
            <p class="match__team1 teams-font-style">Буркина-Фасо</p><img src="./images/team1-flag.svg"
              alt="Флаг команды" class="match__team1-flag">
            <p class="match__dash teams-font-style"> - </p>
            <img src="./images/team2-flag.svg" alt="Флаг команды" class="match__team2-flag">
            <p class="match__team2 teams-font-style">Сенегал</p>
          </article></a>
          <a href="./translationcard.html" class="non-decor link-trans"><article class="match">
            <div class="match__indicator"></div>
            <p class="match__time">23:00</p>
            <p class="match__team1 teams-font-style">Буркина-Фасо</p><img src="./images/team1-flag.svg"
              alt="Флаг команды" class="match__team1-flag">
            <p class="match__dash teams-font-style"> - </p>
            <img src="./images/team2-flag.svg" alt="Флаг команды" class="match__team2-flag">
            <p class="match__team2 teams-font-style">Сенегал</p>
          </article></a>
          <a href="./translationcard.html" class="non-decor link-trans"><article class="match">
            <div class="match__indicator"></div>
            <p class="match__time">23:00</p>
            <p class="match__team1 teams-font-style">Буркина-Фасо</p><img src="./images/team1-flag.svg"
              alt="Флаг команды" class="match__team1-flag">
            <p class="match__dash teams-font-style"> - </p>
            <img src="./images/team2-flag.svg" alt="Флаг команды" class="match__team2-flag">
            <p class="match__team2 teams-font-style">Сенегал</p>
          </article></a>
          <a href="./translationcard.html" class="non-decor link-trans"><article class="match">
            <div class="match__indicator"></div>
            <p class="match__time">23:00</p>
            <p class="match__team1 teams-font-style">Буркина-Фасо</p><img src="./images/team1-flag.svg"
              alt="Флаг команды" class="match__team1-flag">
            <p class="match__dash teams-font-style"> - </p>
            <img src="./images/team2-flag.svg" alt="Флаг команды" class="match__team2-flag">
            <p class="match__team2 teams-font-style">Сенегал</p>
          </article></a>
          <a href="./translationcard.html" class="non-decor link-trans"><article class="match">
            <div class="match__indicator"></div>
            <p class="match__time">23:00</p>
            <p class="match__team1 teams-font-style">Буркина-Фасо</p><img src="./images/team1-flag.svg"
              alt="Флаг команды" class="match__team1-flag">
            <p class="match__dash teams-font-style"> - </p>
            <img src="./images/team2-flag.svg" alt="Флаг команды" class="match__team2-flag">
            <p class="match__team2 teams-font-style">Сенегал</p>
          </article></a>
          <a href="./translationcard.html" class="non-decor link-trans"><article class="match">
            <div class="match__indicator"></div>
            <p class="match__time">23:00</p>
            <p class="match__team1 teams-font-style">Буркина-Фасо</p><img src="./images/team1-flag.svg"
              alt="Флаг команды" class="match__team1-flag">
            <p class="match__dash teams-font-style"> - </p>
            <img src="./images/team2-flag.svg" alt="Флаг команды" class="match__team2-flag">
            <p class="match__team2 teams-font-style">Сенегал</p>
          </article></a>
          <a href="./translationcard.html" class="non-decor link-trans"><article class="match">
            <div class="match__indicator"></div>
            <p class="match__time">23:00</p>
            <p class="match__team1 teams-font-style">Буркина-Фасо</p><img src="./images/team1-flag.svg"
              alt="Флаг команды" class="match__team1-flag">
            <p class="match__dash teams-font-style"> - </p>
            <img src="./images/team2-flag.svg" alt="Флаг команды" class="match__team2-flag">
            <p class="match__team2 teams-font-style">Сенегал</p>
          </article></a>
          <a href="./translationcard.html" class="non-decor link-trans"><article class="match">
            <div class="match__indicator"></div>
            <p class="match__time">23:00</p>
            <p class="match__team1 teams-font-style">Буркина-Фасо</p><img src="./images/team1-flag.svg"
              alt="Флаг команды" class="match__team1-flag">
            <p class="match__dash teams-font-style"> - </p>
            <img src="./images/team2-flag.svg" alt="Флаг команды" class="match__team2-flag">
            <p class="match__team2 teams-font-style">Сенегал</p>
          </article></a>
        </div>
        <a href="./translationslist.html" class="non-decor"><button class="translations__list-btn btn-no-style">
          <p class="translations__list-btn-text">Список трансляций</p>
        </button></a>
      </div>
  </main>

  <section class="popup-reg">
    <div class="popup-reg__container">
      <button class="popup__close btn-no-style" type="button"><img src="./images/Close_Icon.svg" alt="крестик"
        class="popup__close-image"></button>
      <h2 class="popup-reg__title">Зарегистрироваться</h2>
      <form action="" class="popup-reg__form">
        <button class="popup-reg__google btn-no-style">Войти через <b>Google +</b></button>
        <input type="text" placeholder="Имя" class="popup-reg__input_type_name popup-reg__form-styles" required>
        <input type="password" placeholder="Пароль" class="popup-reg__input_type_password popup-reg__form-styles"
          required>
        <input type="password" placeholder="Подтверждение пароля"
          class="popup-reg__input_type_password popup-reg__form-styles" required>
        <input type="email" placeholder="e-mail" class="popup-reg__input_type_email popup-reg__form-styles" required>
        <button class="popup-reg__reg-btn btn-no-style">Регистрация</button>
        <button class="popup-reg__login btn-no-style">Уже есть аккаунт?</button>
      </form>
    </div>
  </section>
  <section class="popup-log">
    <div class="popup-log__container">
      <button class="popup__close btn-no-style popup__close2" type="button"><img src="./images/Close_Icon.svg" alt="крестик"
        class="popup__close-image"></button>
      <h2 class="popup-reg__title">Войти</h2>
      <form action="" class="popup-log__form">
        <button class="popup-reg__google btn-no-style">Войти через <b>Google +</b></button>
        <input type="email" placeholder="e-mail" class="popup-reg__input_type_email popup-reg__form-styles" required>
        <input type="password" placeholder="Пароль" class="popup-reg__input_type_password popup-reg__form-styles"
          required>
        <button class="popup-reg__reg-btn btn-no-style popup-log__log-btn">Войти</button>
        <button class="btn-no-style popup-log__register">Регистрация</button>
      </form>
    </div>
  </section>
  <footer class="footer">
    <a href="./index.html"><img src="./images/LOGO_footer.svg" alt="logo" class="footer__logo"></a>
    <hav class="header__navigation footer__navigation">
      <a href="./news.html" class="header__navigation-element">Новости</a>
      <a href="./translationslist.html" class="header__navigation-element">Трансляции</a>
      <a href="./subscription.html" class="header__navigation-element">Подписки</a>
      <a href="./contacts.html" class="header__navigation-element">Контакты</a>
      <a href="./aboutus.html" class="header__navigation-element">О нас</a>
    </hav>
    <div></div>
  </footer>
  <script src="./script.js"></script>
</body>

</html>
