{% extends "base-main.html" %}{% load static %}
{% block title %}{{ news_data.name }}{% endblock title %} {% block content %}
    <div class="streams-margin">
        <section class="post">
            <h1 class="post__title">
                {{ news_data.name }}
            </h1>
            <img src="{{ news_data.preview.url }}" alt="#" class="post__img">
            <div class="post__info">
                <p class="post__img-source">{{ news_data.photo_author }}</p>
                <div>
                    <button class="post__like btn-no-style post__btns">{{ news_data.likes }}
                        <img src="{% static 'image/Mask grouplike1.svg' %}" alt="#">
                    </button>
                    <button class="post__dislike btn-no-style post__btns"> {{ news_data.dislikes }}
                        <img src="{% static 'image/Mask grouplike2.svg' %}" alt="#">
                    </button>
                </div>
            </div>
            <p class="post__text">{{ news_data.text }}
            </p>
            <form action="" class="post__comment">
          <textarea name="comment" id="comment" cols="30" rows="10" class="post__textarea"
                    placeholder="Оставьте свой комментарий..."></textarea>
                <button class="post__comment-btn btn-no-style">Отправить</button>
            </form>
        </section>
        <div class="px2"></div>
    </div>
{% endblock content %}