{% load static %}
<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/adaptive_index.css' %}">
    <link rel="stylesheet" href="{% static 'css/adaptive.css' %}">
    <link rel="stylesheet" href="{% static 'css/aboutus.css' %}">
    <title>{% block title %}Спортивные трансляции{% endblock title %}</title>
</head>

<body class="page">
<header class="header">
    <a href="{% url 'index' %}" class="header__logo">
        <img src="{% static 'image/LOGO.png' %}" alt="Logo">
    </a>

    <hav class="header__navigation">
        <a href="{% url 'news_list' %}" class="header__navigation-element">Новости</a>
        <a href="{% url 'translations_list' %}" class="header__navigation-element">Трансляции</a>
        <a href="./subscription.html" class="header__navigation-element">Подписки</a>
        <a href="./contacts.html" class="header__navigation-element">Контакты</a>
        <a href="./aboutus.html" class="header__navigation-element">О нас</a>
    </hav>

    <div class="hamburger-menu">
        <input id="menu__toggle" type="checkbox"/>
        <label class="menu__btn" for="menu__toggle">
            <span></span>
        </label>

        <ul class="menu__box">
            <li><a class="menu__item" href="{% url 'news_list' %}">Новости</a></li>
            <li><a class="menu__item" href="{% url 'translations_list' %}">Трансляции</a></li>
            <li><a class="menu__item" href="./subscription.html">Подписки</a></li>
            <li><a class="menu__item" href="./contacts.html">Контакты</a></li>
            <li><a class="menu__item" href="./aboutus.html">О нас</a></li>
        </ul>
    </div>

    <div class="ether">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#616161" class="bi bi-broadcast-pin"
             viewBox="0 0 16 16">
            <path d="M3.05 3.05a7 7 0 0 0 0 9.9.5.5 0 0 1-.707.707 8 8 0 0 1 0-11.314.5.5 0 0 1 .707.707zm2.122 2.122a4 4 0 0 0 0 5.656.5.5 0 1 1-.708.708 5 5 0 0 1 0-7.072.5.5 0 0 1 .708.708zm5.656-.708a.5.5 0 0 1 .708 0 5 5 0 0 1 0 7.072.5.5 0 1 1-.708-.708 4 4 0 0 0 0-5.656.5.5 0 0 1 0-.708zm2.122-2.12a.5.5 0 0 1 .707 0 8 8 0 0 1 0 11.313.5.5 0 0 1-.707-.707 7 7 0 0 0 0-9.9.5.5 0 0 1 0-.707zM6 8a2 2 0 1 1 2.5 1.937V15.5a.5.5 0 0 1-1 0V9.937A2 2 0 0 1 6 8z"/>
        </svg>
    </div>

    <div class="header__right-items">
        <a href="./settings.html"><img src="{% static 'image/user_icon.svg' %}" alt="Иконка" class="header__user-icon"></a>
        {% if request.user.is_authenticated %}
            <a href="{% url 'logout' %}">
            <button class="header__register-button">Выход из {{ request.user.username }}</button></a>
        {% else %}
           <button class="header__register-button">Регистрация</button>
        {% endif %}
        <div class="header__search-n-mg-glass">
            <form action="" class="searching-form">
                <input type="text" class="header__search" minlength="1" maxlength="56" required>
                <button class="btn-no-style searching-button"><img src="{% static 'image/magnifying_glass.svg' %}"
                                                                   alt="Лупа"
                                                                   class="header__mag-glass"></button>
            </form>
        </div>


</header>

<main>
    <h1>{{ message }}</h1>

</main>

<section class="popup-reg">
    <div class="popup-reg__container">
        <button class="popup__close btn-no-style" type="button"><img src="{% static 'image/Close_Icon.svg' %}"
                                                                     alt="крестик"
                                                                     class="popup__close-image"></button>
        <h2 class="popup-reg__title">Зарегистрироваться</h2>
        <form action="{% url 'registration' %}" method="post" class="popup-reg__form">
            {% csrf_token %}
            <button class="popup-reg__google btn-no-style">Войти через <b>Google +</b></button>
            {{ reg_form.username }}
            {{ reg_form.email }}
            {{ reg_form.password }}
            {{ reg_form.password2 }}
            <button class="popup-reg__reg-btn btn-no-style">Регистрация</button>
            <button class="popup-reg__login btn-no-style">Уже есть аккаунт?</button>
        </form>
    </div>
</section>
<section class="popup-log">
    <div class="popup-log__container">
        <button class="popup__close btn-no-style popup__close2" type="button"><img
                src="{% static 'image/Close_Icon.svg' %}"
                alt="крестик"
                class="popup__close-image"></button>
        <h2 class="popup-reg__title">Войти</h2>
        <form action="login" method="post" class="popup-log__form">
            {% csrf_token %}
            <button class="popup-reg__google btn-no-style">Войти через <b>Google +</b></button>
            {{ login_form.username }}
            {{ login_form.password }}
            <button class="popup-reg__reg-btn btn-no-style popup-log__log-btn">Войти</button>
            <button class="btn-no-style popup-log__register">Регистрация</button>
        </form>
    </div>
</section>
<footer class="footer">
    <a href="{% url 'index' %}"><img src="{% static 'image/LOGO_footer.svg' %}" alt="logo" class="footer__logo"></a>
    <hav class="header__navigation footer__navigation">
        <a href="{% url 'news_list' %}" class="header__navigation-element">Новости</a>
        <a href="{% url 'translations_list' %}" class="header__navigation-element">Трансляции</a>
        <a href="./subscription.html" class="header__navigation-element">Подписки</a>
        <a href="./contacts.html" class="header__navigation-element">Контакты</a>
        <a href="./aboutus.html" class="header__navigation-element">О нас</a>
    </hav>
    <div></div>
</footer>
<script src="{% static 'js/script.js' %}"></script>
<script>
    function checkForm(form) {
        let value = form.calendar.value + "_{{ key }}";
        console.log(form.day.value);
        form.calendar.type = "text";
        form.calendar.value = value;
        form.submit();
        form.calendar.type = "date";
        //form.calendar.value = "";
        return false;
    }
</script>
</body>

</html>