<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style.css">
  <link rel="stylesheet" href="./adaptive.css">
  <title>Спортивные трансляции</title>
</head>

<body class="page">
  <header class="header">
    <a href="./index.html" class="header__logo">
      <img src="./images/LOGO.png" alt="Logo">
    </a>

    <hav class="header__navigation">
      <a href="./news.html" class="header__navigation-element">Новости</a>
      <a href="./translationslist.html" class="header__navigation-element">Трансляции</a>
      <a href="./subscription.html" class="header__navigation-element">Подписки</a>
      <a href="./contacts.html" class="header__navigation-element">Контакты</a>
      <a href="./aboutus.html" class="header__navigation-element">О нас</a>
    </hav>

    <div class="hamburger-menu">
      <input id="menu__toggle" type="checkbox" />
      <label class="menu__btn" for="menu__toggle">
        <span></span>
      </label>

      <ul class="menu__box">
        <li><a class="menu__item" href="./news.html">Новости</a></li>
        <li><a class="menu__item" href="./translationslist.html">Трансляции</a></li>
        <li><a class="menu__item" href="./subscription.html">Подписки</a></li>
        <li><a class="menu__item" href="./contacts.html">Контакты</a></li>
        <li><a class="menu__item" href="./aboutus.html">О нас</a></li>
      </ul>
    </div>

    <div class="ether">
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#616161" class="bi bi-broadcast-pin" viewBox="0 0 16 16">
        <path d="M3.05 3.05a7 7 0 0 0 0 9.9.5.5 0 0 1-.707.707 8 8 0 0 1 0-11.314.5.5 0 0 1 .707.707zm2.122 2.122a4 4 0 0 0 0 5.656.5.5 0 1 1-.708.708 5 5 0 0 1 0-7.072.5.5 0 0 1 .708.708zm5.656-.708a.5.5 0 0 1 .708 0 5 5 0 0 1 0 7.072.5.5 0 1 1-.708-.708 4 4 0 0 0 0-5.656.5.5 0 0 1 0-.708zm2.122-2.12a.5.5 0 0 1 .707 0 8 8 0 0 1 0 11.313.5.5 0 0 1-.707-.707 7 7 0 0 0 0-9.9.5.5 0 0 1 0-.707zM6 8a2 2 0 1 1 2.5 1.937V15.5a.5.5 0 0 1-1 0V9.937A2 2 0 0 1 6 8z"/>
      </svg>
    </div>

    <div class="header__right-items">
      <a href="./settings.html"><img src="./images/user_icon.svg" alt="Иконка" class="header__user-icon"></a>
      <button class="header__register-button">Регистрация</button>
      <div class="header__search-n-mg-glass">
        <form action="" class="searching-form">
          <input type="text" class="header__search" minlength="1" maxlength="56" required>
          <button class="btn-no-style searching-button"><img src="./images/magnifying_glass.svg" alt="Лупа" class="header__mag-glass"></button>
        </form>
      </div>
  </header>

  <main class="main main-in-search">
      <section class="poisk translist-search-padding">
        <p class="poisk__title">Вы искали</p>
        <form action="" class="poisk__form">
          <input type="text" class="poisk__input">
          <button class="poisk__subm-btn btn-no-style"><img src="./images/poisk.png" alt="иконка на кнопке поиска" class="poisk__subm-img"></button>
        </form>
      </section>

      <section class="translist translist-search-padding" id="trans">
        <h2 class="search-titles">Трансляции</h2>
        <article class="transelem">
          <a href="./translationcard.html" class="top-streams-img"></a>
          <div class="transelem__info">
            <p class="transelem__live transelem__live_active">Live</p>
            <h2 class="transelem__title">ХОККЕЙ. ФОНБЕТ ЧЕМПИОНАТ КХЛ. СПАРТАК - ЦСКА</h2>
            <p class="transelem__description">Прямая трансляция матча – 18 ноября. На ТВ: МАТЧ ТВ. Эфир стартует в
              18:45, начало игры - в 19:00. Онлайн-трансляция доступна на сайте в высоком качестве. При покупке
              трансляции доступны для просмотра только на территории РФ.</p>
          </div>
        </article>
        <article class="transelem">
          <a href="./translationcard.html" class="top-streams-img"></a>
          <div class="transelem__info">
            <p class="transelem__live transelem__live_active">Live</p>
            <h2 class="transelem__title">ХОККЕЙ. ФОНБЕТ ЧЕМПИОНАТ КХЛ. СПАРТАК - ЦСКА</h2>
            <p class="transelem__description">Прямая трансляция матча – 18 ноября. На ТВ: МАТЧ ТВ. Эфир стартует в
              18:45, начало игры - в 19:00. Онлайн-трансляция доступна на сайте в высоком качестве. При покупке
              трансляции доступны для просмотра только на территории РФ.</p>
          </div>
        </article>
        <article class="transelem">
          <a href="./translationcard.html" class="top-streams-img"></a>
          <div class="transelem__info">
            <p class="transelem__live">Live</p>
            <h2 class="transelem__title">ХОККЕЙ. ФОНБЕТ ЧЕМПИОНАТ КХЛ. СПАРТАК - ЦСКА</h2>
            <p class="transelem__description">Прямая трансляция матча – 18 ноября. На ТВ: МАТЧ ТВ. Эфир стартует в
              18:45, начало игры - в 19:00. Онлайн-трансляция доступна на сайте в высоком качестве. При покупке
              трансляции доступны для просмотра только на территории РФ.</p>
          </div>
        </article>
      </section>

    <section class="translations-container">
      <div class="translations">
        <h2 class="translations__title">Трансляции</h2>
        <form class="translations__date-choose" method="post" action="">
          <button
            class="translations__date-choose-btn_type_yesterday btn-no-style translations__date-choose-font-style">Вчера</button>
          <button
            class="translations__date-choose-btn_type_today btn-no-style translations__date-choose-font-style translations__date-choose_active">Сегодня</button>
          <button
            class="translations__date-choose-btn_type_tomorrow btn-no-style translations__date-choose-font-style">Завтра</button>
            <input type="date" name="calendar"
            class="translations__date-choose-btn_type_calendar btn-no-style translations__date-choose-font-style">
        </form>
        <form class="translations__sport-choose" method="post" action="">
          <button class="translations__sport-chose-btn_type_all btn-no-style translations__sport-choose-btn-font-style">
            Все</button>
          <button
            class="translations__sport-chose-btn_type_football btn-no-style translations__sport-choose-btn-font-style translations__sport-choose_active">Футбол</button>
          <button
            class="translations__sport-chose-btn_type_hockey btn-no-style translations__sport-choose-btn-font-style">Хоккей</button>
        </form>
        <div class="matches">
          <h2 class="matches__title">Товарищеские матчи 2020-2022</h2>
          <a href="./translationcard.html" class="non-decor link-trans"><article class="match">
            <div class="match__indicator match__indicator_color_red"></div>
            <p class="match__time">23:00</p>
            <p class="match__team1 teams-font-style">Буркина-Фасо</p><img src="./images/team1-flag.svg"
              alt="Флаг команды" class="match__team1-flag">
            <p class="match__dash teams-font-style"> - </p>
            <img src="./images/team2-flag.svg" alt="Флаг команды" class="match__team2-flag">
            <p class="match__team2 teams-font-style">Сенегал</p>
          </article></a>
          <a href="./translationcard.html" class="non-decor link-trans"><article class="match">
            <div class="match__indicator match__indicator_color_red"></div>
            <p class="match__time">23:00</p>
            <p class="match__team1 teams-font-style">Буркина-Фасо</p><img src="./images/team1-flag.svg"
              alt="Флаг команды" class="match__team1-flag">
            <p class="match__dash teams-font-style"> - </p>
            <img src="./images/team2-flag.svg" alt="Флаг команды" class="match__team2-flag">
            <p class="match__team2 teams-font-style">Сенегал</p>
          </article></a>
          <a href="./translationcard.html" class="non-decor link-trans"><article class="match">
            <div class="match__indicator"></div>
            <p class="match__time">23:00</p>
            <p class="match__team1 teams-font-style">Буркина-Фасо</p><img src="./images/team1-flag.svg"
              alt="Флаг команды" class="match__team1-flag">
            <p class="match__dash teams-font-style"> - </p>
            <img src="./images/team2-flag.svg" alt="Флаг команды" class="match__team2-flag">
            <p class="match__team2 teams-font-style">Сенегал</p>
          </article></a>
          <a href="./translationcard.html" class="non-decor link-trans"><article class="match">
            <div class="match__indicator"></div>
            <p class="match__time">23:00</p>
            <p class="match__team1 teams-font-style">Буркина-Фасо</p><img src="./images/team1-flag.svg"
              alt="Флаг команды" class="match__team1-flag">
            <p class="match__dash teams-font-style"> - </p>
            <img src="./images/team2-flag.svg" alt="Флаг команды" class="match__team2-flag">
            <p class="match__team2 teams-font-style">Сенегал</p>
          </article></a>
          <a href="./translationcard.html" class="non-decor link-trans"><article class="match">
            <div class="match__indicator"></div>
            <p class="match__time">23:00</p>
            <p class="match__team1 teams-font-style">Буркина-Фасо</p><img src="./images/team1-flag.svg"
              alt="Флаг команды" class="match__team1-flag">
            <p class="match__dash teams-font-style"> - </p>
            <img src="./images/team2-flag.svg" alt="Флаг команды" class="match__team2-flag">
            <p class="match__team2 teams-font-style">Сенегал</p>
          </article></a>
          <a href="./translationcard.html" class="non-decor link-trans"><article class="match">
            <div class="match__indicator"></div>
            <p class="match__time">23:00</p>
            <p class="match__team1 teams-font-style">Буркина-Фасо</p><img src="./images/team1-flag.svg"
              alt="Флаг команды" class="match__team1-flag">
            <p class="match__dash teams-font-style"> - </p>
            <img src="./images/team2-flag.svg" alt="Флаг команды" class="match__team2-flag">
            <p class="match__team2 teams-font-style">Сенегал</p>
          </article></a>
          <a href="./translationcard.html" class="non-decor link-trans"><article class="match">
            <div class="match__indicator"></div>
            <p class="match__time">23:00</p>
            <p class="match__team1 teams-font-style">Буркина-Фасо</p><img src="./images/team1-flag.svg"
              alt="Флаг команды" class="match__team1-flag">
            <p class="match__dash teams-font-style"> - </p>
            <img src="./images/team2-flag.svg" alt="Флаг команды" class="match__team2-flag">
            <p class="match__team2 teams-font-style">Сенегал</p>
          </article></a>
          <a href="./translationcard.html" class="non-decor link-trans"><article class="match">
            <div class="match__indicator"></div>
            <p class="match__time">23:00</p>
            <p class="match__team1 teams-font-style">Буркина-Фасо</p><img src="./images/team1-flag.svg"
              alt="Флаг команды" class="match__team1-flag">
            <p class="match__dash teams-font-style"> - </p>
            <img src="./images/team2-flag.svg" alt="Флаг команды" class="match__team2-flag">
            <p class="match__team2 teams-font-style">Сенегал</p>
          </article></a>
          <a href="./translationcard.html" class="non-decor link-trans"><article class="match">
            <div class="match__indicator"></div>
            <p class="match__time">23:00</p>
            <p class="match__team1 teams-font-style">Буркина-Фасо</p><img src="./images/team1-flag.svg"
              alt="Флаг команды" class="match__team1-flag">
            <p class="match__dash teams-font-style"> - </p>
            <img src="./images/team2-flag.svg" alt="Флаг команды" class="match__team2-flag">
            <p class="match__team2 teams-font-style">Сенегал</p>
          </article></a>
          <a href="./translationcard.html" class="non-decor link-trans"><article class="match">
            <div class="match__indicator"></div>
            <p class="match__time">23:00</p>
            <p class="match__team1 teams-font-style">Буркина-Фасо</p><img src="./images/team1-flag.svg"
              alt="Флаг команды" class="match__team1-flag">
            <p class="match__dash teams-font-style"> - </p>
            <img src="./images/team2-flag.svg" alt="Флаг команды" class="match__team2-flag">
            <p class="match__team2 teams-font-style">Сенегал</p>
          </article></a>
          <a href="./translationcard.html" class="non-decor link-trans"><article class="match">
            <div class="match__indicator"></div>
            <p class="match__time">23:00</p>
            <p class="match__team1 teams-font-style">Буркина-Фасо</p><img src="./images/team1-flag.svg"
              alt="Флаг команды" class="match__team1-flag">
            <p class="match__dash teams-font-style"> - </p>
            <img src="./images/team2-flag.svg" alt="Флаг команды" class="match__team2-flag">
            <p class="match__team2 teams-font-style">Сенегал</p>
          </article></a>
        </div>
        <a href="./translationslist.html" class="non-decor"><button class="translations__list-btn btn-no-style">
          <p class="translations__list-btn-text">Список трансляций</p>
        </button></a>
      </div>
      </section>
      <section class="news3">
        <h2 class="search-titles">Новости</h2>
      <article class="news__grid2 search-settings">
        <div class="news__small-post">
          <a href="./newscard.html" class="link-decor"><img src="./images/image 7.png" alt="img"> </a>
          <div class="news__date-n-sport">
            <p class="news__date">17 ноября 2022г</p>
            <p class="news__sport">Футбол</p>
          </div>
          <p class="news__description_type_small-post">Тренер сборной Таджикистана: «Прошу не забывать, что господин
            Карпин уже проигрывал хорватам, а я как раз таки хорват»</p>
        </div>
        </div>
        <div class="news__small-post">
          <a href="./newscard.html" class="link-decor"><img src="./images/image 7.png" alt="img"> </a>
          <div class="news__date-n-sport">
            <p class="news__date">17 ноября 2022г</p>
            <p class="news__sport">Футбол</p>
          </div>
          <p class="news__description_type_small-post">Тренер сборной Таджикистана: «Прошу не забывать, что господин
            Карпин уже проигрывал хорватам, а я как раз таки хорват»</p>
        </div>
        </div>
        <div class="news__small-post">
          <a href="./newscard.html" class="link-decor"><img src="./images/image 7.png" alt="img"> </a>
          <div class="news__date-n-sport">
            <p class="news__date">17 ноября 2022г</p>
            <p class="news__sport">Футбол</p>
          </div>
          <p class="news__description_type_small-post">Тренер сборной Таджикистана: «Прошу не забывать, что господин
            Карпин уже проигрывал хорватам, а я как раз таки хорват»</p>
        </div>
        </div>
        <div class="news__small-post">
          <a href="./newscard.html" class="link-decor"><img src="./images/image 7.png" alt="img"> </a>
          <div class="news__date-n-sport">
            <p class="news__date">17 ноября 2022г</p>
            <p class="news__sport">Футбол</p>
          </div>
          <p class="news__description_type_small-post">Тренер сборной Таджикистана: «Прошу не забывать, что господин
            Карпин уже проигрывал хорватам, а я как раз таки хорват»</p>
        </div>
        </div>
        <div class="news__small-post">
          <a href="./newscard.html" class="link-decor"><img src="./images/image 7.png" alt="img"> </a>
          <div class="news__date-n-sport">
            <p class="news__date">17 ноября 2022г</p>
            <p class="news__sport">Футбол</p>
          </div>
          <p class="news__description_type_small-post">Тренер сборной Таджикистана: «Прошу не забывать, что господин
            Карпин уже проигрывал хорватам, а я как раз таки хорват»</p>
        </div>
        </div>
        <div class="news__small-post">
          <a href="./newscard.html" class="link-decor"><img src="./images/image 7.png" alt="img"> </a>
          <div class="news__date-n-sport">
            <p class="news__date">17 ноября 2022г</p>
            <p class="news__sport">Футбол</p>
          </div>
          <p class="news__description_type_small-post">Тренер сборной Таджикистана: «Прошу не забывать, что господин
            Карпин уже проигрывал хорватам, а я как раз таки хорват»</p>
        </div>
        </div>
      </article>
    </section>
  </main>

  <section class="popup-reg">
    <div class="popup-reg__container">
      <button class="popup__close btn-no-style" type="button"><img src="./images/Close_Icon.svg" alt="крестик"
        class="popup__close-image"></button>
      <h2 class="popup-reg__title">Зарегистрироваться</h2>
      <form action="" class="popup-reg__form">
        <button class="popup-reg__google btn-no-style">Войти через <b>Google +</b></button>
        <input type="text" placeholder="Имя" class="popup-reg__input_type_name popup-reg__form-styles" required>
        <input type="password" placeholder="Пароль" class="popup-reg__input_type_password popup-reg__form-styles"
          required>
        <input type="password" placeholder="Подтверждение пароля"
          class="popup-reg__input_type_password popup-reg__form-styles" required>
        <input type="email" placeholder="e-mail" class="popup-reg__input_type_email popup-reg__form-styles" required>
        <button class="popup-reg__reg-btn btn-no-style">Регистрация</button>
        <button class="popup-reg__login btn-no-style">Уже есть аккаунт?</button>
      </form>
    </div>
  </section>
  <section class="popup-log">
    <div class="popup-log__container">
      <button class="popup__close btn-no-style popup__close2" type="button"><img src="./images/Close_Icon.svg" alt="крестик"
        class="popup__close-image"></button>
      <h2 class="popup-reg__title">Войти</h2>
      <form action="" class="popup-log__form">
        <button class="popup-reg__google btn-no-style">Войти через <b>Google +</b></button>
        <input type="email" placeholder="e-mail" class="popup-reg__input_type_email popup-reg__form-styles" required>
        <input type="password" placeholder="Пароль" class="popup-reg__input_type_password popup-reg__form-styles"
          required>
        <button class="popup-reg__reg-btn btn-no-style popup-log__log-btn">Войти</button>
        <button class="btn-no-style popup-log__register">Регистрация</button>
      </form>
    </div>
  </section>
  <footer class="footer">
    <a href="./index.html"><img src="./images/LOGO_footer.svg" alt="logo" class="footer__logo"></a>
    <hav class="header__navigation footer__navigation">
      <a href="./aboutus.html" class="header__navigation-element">О нас</a>
      <a href="./news.html" class="header__navigation-element">Новости</a>
      <a href="./translationslist.html" class="header__navigation-element">Трансляции</a>
      <a href="#" class="header__navigation-element">Подписки</a>
      <a href="#" class="header__navigation-element">Контакты</a>
    </hav>
    <div></div>
  </footer>
  <script src="./script.js"></script>
</body>

</html>
