{% extends 'base-search.html' %}{% load static %}{% block content %}
    <section class="poisk translist-search-padding">
        <p class="poisk__title">Вы искали</p>
        <form action="{% url 'search' %}" method="get" class="poisk__form">
            <input type="text" name="search" class="poisk__input">
            <button class="poisk__subm-btn btn-no-style"><img src="{% static "image/poisk.png" %}"
                                                              alt="иконка на кнопке поиска"
                                                              class="poisk__subm-img"></button>
        </form>
    </section>
    {% if search_translations == False %}
    {% else %}
        <section class="translist translist-search-padding" id="trans">
        <h2 class="search-titles">Трансляции</h2>
        {% for translation in search_translations %}
            <article class="transelem">
                <a href="{% url 'translation' translation.id %}" class="top-streams-img"
                   style="background-image: url({{ translation.preview.url }})"
                   onmouseover="this.style='background-image: url({% static "image/Group 47-hover.png" %});';"
                   onmouseout="this.style='background-image: url({{ translation.preview.url }});';"></a>
                <div class="transelem__info">
                    {% if stream.is_live == True %}
                        <p class="transelem__live transelem__live_active">Live</p>
                    {% else %}
                        <p class="transelem__live">Live</p>
                    {% endif %}
                    <h2 class="transelem__title">{{ translation.name }}</h2>
                    <p class="transelem__description">{{ translation.description }}</p>
                </div>
            </article>
        {% endfor %}
    {% endif %}
{% endblock content %}
{% block content2 %}
    {% if search_news == False %}
    {% else %}
    <section class="news3">
        <h2 class="search-titles">Новости</h2>
        <article class="news__grid2 search-settings">
            {% for news in search_news %}
                <div class="news__small-post">
                    <a href="{% url 'news_card' news.id %}" class="link-decor"><img src="{{ news.preview.url }}"
                                                                                    alt="img"
                                                                                    class="grid2-img"> </a>
                    <div class="news__date-n-sport">
                        <p class="news__date">{{ news.date }}</p>
                        <p class="news__sport">{{ news.category }}</p>
                    </div>
                    <p class="news__description_type_small-post">{{ news.name }}</p>
                </div>
                </div>
            {% endfor %}
        </article>
    </section>
    {% endif %}
{% endblock content2 %}
